* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    background-color: lightblue;
}

.image{
    border: solid medium gray;
    box-shadow: 3px 3px 3px gray;
}